{# TODO : обратите внимание, что данный шаблон, практически полная копия шаблона 'language_list.html'#}
{# TODO : в таких ситуациях, рекомендуется переиспользовать имеющиеся шаблоны #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страны</title>
</head>
<body>
<a href="/languages-list">К списку языков</a>
<h1>Страны</h1>
<ol>
    {% for item in items %}
    <a href="/country_item/{{ item.country }}"><li>{{ item.country }}</li></a>
    {% endfor %}
</ol>
</body>
</html>